sim/
work/
venv/
myvenv/
*.hex
*.log
*.fsdb
*.fsdb.*
.vcs*
novas.*
verdiLog
cpu_tb/sim_build/
cpu_tb/sim_build_debug/
cpu_tb/results.xml
cpu_tb/ucli.key
verif_tb/sim_build
verif_tb/sim_build_debug
verif_tb/results.xml
verif_tb/ucli.key
verif_tb/sim_logs
*.vcd
*.rc
.vscode
verif_tb/__pycache__
icarus_tb/out
.DS_Store
